<!DOCTYPE html>
        <head>
          
                        <title>{{ page.title }}</title>
                        <!-- link to main stylesheet -->
                       <link rel="stylesheet" type="text/css" href="https://cashfields.github.io/findtitle/css/main.css"> 
	

	<script>
		
		function getURL() {

var windowurl = window.location.href;
var baseUrl = windowurl.split('://')[1].split('/')[0]; //split function

var xhr = new XMLHttpRequest();
var url='http://'+baseUrl+'/url from controller';
xhr.open("GET", url);
xhr.send(); //object use to send

xhr.onreadystatechange=function() {
    if(xhr.readyState==4 && this.status==200){
 //console.log(xhr.responseText); //the response of the request
        
 document.getElementById("id from where you called the function").innerHTML = xhr.responseText;
}
  }
}
	</script>
	
	
	
	
		
         </head>

<!-- <body> -->

<body onload="function getURL();">
	

	

	
	
	
			&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://cashfields.github.io/TioCash/index.html">Home</a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="mailto:cashfieldsutc@gmail.com" target="_blank">email</a></li>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://github.com/cashfields/tiocash" target="_blank">TioCash Project</a>
		
                   
                        <div class="container">

                        {{ content }}

                       </div><!-- /.container -->
                        <footer>
                    
                        </footer>
                </body>
        </html>
