<!DOCTYPE html>
        <head>
          
                        <title id="mywantedname">{{ page.title }}</title>
                        <!-- link to main stylesheet -->
                       <link rel="stylesheet" type="text/css" href="https://cashfields.github.io/TioCash/css/main.css"> 
	

<!--
<script src="scripts/gettitle.js" defer> </script>	
-->	
		
		
         </head>

<body>
<!--
<body onload="myFunction()">
-->			
	
"----"
<span id="myx"></span>
"----"
<script>
   document.write("The title of the document is" +" "+ document.title);
</script>
	   &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://cashfields.github.io/TioCash/index.html">Home</a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="mailto:cashfieldsutc@gmail.com" target="_blank">email</a></li>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://github.com/cashfields/tiocash" target="_blank">TioCash Project</a>
		
                   
                        <div class="container">

                        {{ content }}

                       </div><!-- /.container -->
                        <footer>
                    
                        </footer>
                </body>
        </html>
