<!DOCTYPE html>
        <head>
          
                        <title>{{ page.title }}</title>
                        <!-- link to main stylesheet -->
                       <link rel="stylesheet" type="text/css" href="https://cashfields.github.io/findtitle/css/main.css"> 
	

<script>
		
function getURL() 
{
var windowurl = window.location.href;
	document.getElementById("windowname").innerHTML = windowurl;
	//alert(windowurl)
}
</script>
	
	
	
	
		
         </head>

<!--<body> -->

 <body onload="javascript:getURL()"> 
	

	
<!--
	<p>Click the following button to see the function in action</p>  
<input type = "button" onclick = "getURL()" value = "Display">  
-->

                      <a href="https://cashfields.github.io/TioCash/index.html">Home</a>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="mailto:cashfieldsutc@gmail.com" target="_blank">email</a></li>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://github.com/cashfields/tiocash" target="_blank">TioCash Project</a>
&nbsp;&nbsp;&nbsp;&nbsp;		
<span id="windowname"></span>        

                        <div class="container">

                        {{ content }}

                       </div><!-- /.container -->
                        <footer>
                    
                        </footer>
                </body>
        </html>
